<html lang="en">
  <head>
    {{>headerLinks}}
  </head>
  <body>
    <div class="container-fluid main-menu">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">

          {{>navbar}}
        </div>
      </div>
    </div>
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-12 col-12 main_header_right align-items-center">
              <figure class="errimg">
                <img
                  src="images/5.png"
                  alt=""
                  class="img-fluid"
                  title="Fareed Javed"
                />
              </figure>
              <h1>
                {{errMsg}}
              </h1>
              <a href="/"><button>Go Back</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
{{>footer}}
    <script src="js/script.js"></script>
  </body>
</html>